*{
    margin:0;
    padding:0;
    text-decoration:none;
    list-style:none;
    

}
.video-container{
    position:fixed;
    

}
.video-container video{
filter: brightness(70%);
}

body{
    color:red;
    background:#212121;

    font-family:-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
.menudiv label{
    position:fixed;
    text-align:center;
    align-content: center;
    color:#fbff01;
    top:3vh;
    right:20px;
    font-size:35px;
    width:44px;
    height:42px;
    font-size:25px;
    
}
#menuicon{
    position: fixed;
    text-align: center;
    align-content: center;
    margin-right:10px;
    margin-top:10px;
}
#myCheck{
    display:none;

}
.sidenav{
    
    position: fixed;
    display:none;
    color: #fff;
    top:0;
    width:83%;
    height:100%;
    background: #fffee6;
    background-repeat: no-repeat; 
    background-size: cover;
    text-align: center;
}
.homeside a{
    border-bottom: 3px solid ;
    padding-bottom: 5px;
}
.sidenav li{
    margin-top:40px;

}
.sidenav li a{
    color:black;
    font-family: sans-serif;
    font-size:22px;

}
.sidenav li a:active,.sidenav li a:hover{
    font-size:30px;
    color: rgb(0, 0, 0);
    transition:60ms;
    border-bottom: rgb(0, 0, 0) 2px solid;
    padding-bottom:7px;
}
.sidesocialicons{
    width:100%;
    height:40vh;
    text-align: center;
    float:left;
    margin-top:40px;
}
.sidesocialicons ul a{
    line-height:50px;
    height:50px;
    width:50px;
    margin-top:20px;
    margin-left:13px;
    margin-right:13px;
    font-size:30px;
    border-radius:50%;
    color:#fff;
    background:#5a5a5a;
}
.sidesocialicons ul a:active,.sidesocialicons ul a:hover{
    color:rgb(246, 255, 0);    
}
.copyright{
    width:100%;
    height:40px;
    position: absolute;
    bottom:20px;
}
.copyright label{
    color:black;
    font-weight:100;
    font-size: larger;
    opacity:0.7;
}
.toplabel{
    
    position:fixed;
    float:left;
    margin-top: 20px;
    font-size: 25px;
    font-weight: 300;
    width:70%;
    margin-left:10px;
  
}


#brandname{
    display:block;
   
}
.brandname{
    font-weight: 700;
    display: block;
    position:absolute;
    color:rgb(251, 255, 8);
    
    border-bottom:3px solid rgb(238, 255, 0);
    
}
.brandname span{
    color:WHITE;
}

.biolabelsdiv{
    
    text-align:center;
    color:white;
    margin-top:15vh;
}

.afridbio{
    margin-top:10px;
}
.designerlabel{
    margin-top:40px;
    padding-left:90px;
    padding-right:90px;
    color:#0fb;
    font-family: sans-serif;
}
#orderid2{
    display:block;
}
.img{

position:fixed;
top:20vh;
left:2vh;
display:block;
padding-right:50vh;

}
.img input{
    width: 180%;
    height:35px;
    font-size:15px;
    color:black;
    border: solid #fab72b;
    border-radius:10px;
    background: #fab72b;
    font-family: 'Times New Roman', Times, serif;
}
.orderitems1{
    position:fixed;
    right:10vh;
    top:20vh;
    display:block;

}
.orderitems1 select{
    width: 150%;
    height:35px;
    font-size: 14px;
    border:solid white;
    border-radius: 10px;
    text-align: center;
    font-weight: 700;
    background: #fffee6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.suborderitems2{
    position: fixed;
    left:3vh;
    right:2vh;
    top:35vh; 
    display:block;
}
.suborderitems2 select{
    font-size: 14px;
    border:solid white;
    border-radius: 10px;
    width:40vh;
    height:6vh;
    text-align: center;
    font-weight: 700;
    background: #fffee6;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

}

.amount{
    display: block;
    position: fixed;
    top:60vh;
    text-align: center;
  
    margin-top:2vh;
    width:100%;
}
.price1{
    display: block;
    position: fixed;
    top:47vh;
    float: left;
    margin-left:9vh;
    margin-top:2vh;
    width:100%;
    color: black;

}
.price1 input{
    font-size: 10px;
    font-weight: 900;
    height:6vh;
    width:250px;
    padding: 0.6rem 1.75rem;
    font-size: 1rem;
    line-height: 1.5;
    border-radius: 0.25rem;
    display: inline-block;
    font-weight: 700;
    text-transform: uppercase;
    color: #fff;
    text-align: center;
    vertical-align: middle;
    border: none;
    background: linear-gradient(to right, rgba(64,230,255,1) 0%, rgba(33,105,164,1) 100%) !important;

}
.amountbutton{
    position: fixed;
    top:60vh;
    float: left;
    margin-left:2vh;
    margin-top:2vh;
    width:100%;
    font-weight:100;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: white;
}
.amountbutton input{
    color:white;
    border-radius: 2px;
    border: none ;
    background: linear-gradient(to right, rgba(64,230,255,1) 0%, rgba(33,105,164,1) 100%) !important;
    font-size: 10px;
    font-weight: 900;
    height:3vh;
    width:100px;
    

}
.amount input{
    font-size: 10px;
    border:solid white;
    border-radius:5px;
    height:4vh;
    width:90%;
    margin-top:2vh;
    text-align: center;
    font-weight: 700;
    background: white;
    
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}
#sendbu{
    display: block;
}
.sendbu{
    position: fixed;
    top:80vh;
    float: left;
    margin:  8vh;
    margin-top:2vh;
    width:100%;
    color: black;

}
.sendbu input{
    
    font-size: 15px;
    border:solid #fab72b;
    border-radius:4px;

    width:260px;
    text-align: center;
    font-weight: 700;
    background: #fab72b;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

    height: 45px;
    border-radius: 20px 0 20px 0;
    font-size: 16px;
    font-weight: 700;
    box-shadow: 2px 5px 10px 0 rgb(0 0 0 / 20%);
    margin-right: 20px;
    padding: 0 12px;
    line-height: 45px;
    color:white;
    font-size: large;
    font-weight:700;

}
#amountbutton{
    display: block;
}
#suborderitems2{
    display:block;
}
#orderitems1{
    display: block;
}
#amountd{
    display:block;
}
#orderid2{
    display: block;
}
#price1{
    display: block;
}
.fas fa-user:before {
    content: "\f007";
}